body {
    background: #f3e5f5;
}
.login-outer {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.login-img {
    width: 500px;
    height: 600px;
    border-radius: 8%;
    margin-right: 60px;
}

.login-img img{
    width: 100%;
    height: 100%;
    border-radius: 3%;
    background: #f3e5f5;
}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background: #f3e5f5;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .login-title {
    color: #1a237e;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .login-subtitle {
    color: #757575;
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 1.5rem;
  }

  .input-group-password {
    margin-bottom: 10px;
  }
  
  .login-input {
    margin-top: 10px;
    width: 100%;
    max-width: 370px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .login-input:focus {
    border-color: #6200ea;
  }
  
  .login-label {
    position: absolute;
    top: -12px;
    left: 10px;
    font-size: 0.75rem;
    color: #757575;
    background-color: #f3e5f5;
    padding: 0 0.25rem;
  }

  .error-messade-login {
    height: 20px;
    color: red;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .password-toggle {
    width: 24px;
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.1rem;
    color: #757575;
  }
  
  .login-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #3f51b5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #303f9f;
  }

  .login-button:disabled{
    background-color: #cccccc; /* Сірий колір фону для заблокованої кнопки */
    color: #666666; /* Сірий колір тексту */
    cursor: not-allowed; /* Курсор "заборонено" */
    opacity: 0.6; /* Знижена прозорість для заблокованої кнопки */
  }

  .registration-button {
    margin-top: 20px;
  }
  
  .signup-text {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #757575;
  }
  
  .signup-text a {
    color: #3f51b5;
    text-decoration: none;
  }
  
  .signup-text a:hover {
    text-decoration: underline;
  }


  .error-message {
    /* height: 20px; */
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
  }